{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": ["last 3 versions", "safari >= 10"],
          "loose": true
        }
      }],
      "react",
      "react-optimize"
  ],
  "plugins": [
    "transform-runtime",
    "react-hot-loader/babel"
  ]
}
