{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "linebreak-style": 0
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "experimentalObjectRestSpread": true,
    "jsx": true
  }
}
